/* Large screens */
@media only screen and (min-width: 1600px) {
    /* ----- Header ----- */
    .main-nav {
        .menu {
            ul {
                li {
                    font-size: 140%;
                }
            }
        }
    }

    .info {
        @media screen and (min-height: 450px) {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
        }

        .left-column {
            h1 {
                font-size: 270%;
            }
        }

        .right-column {
            h3 {
                font-size: 150%;
                line-height: 1.8;
            }
        }
    }

    .header-icons {
        .icon {
            font-size: 150%;
        }
    }

    .section__about {

        .main__row {

            h1 {
                font-size: 300%;
            }

            h3 {
                font-size: 200%;
            }
        }
    }

    .section__markdown {

        .main__row {

            .col__left {
                padding: 100px 100px 0 100px;
            }

            h3 {
                font-size: 200%;
            }
        }
    }
}

/* Small tablets to big tablets */
@media only screen and (max-width: 1023px) {
    .menu {
        display: none;
    }

    /* HAMBURGER MENU */
    #menuToggle {
        display: inline-block;
        opacity: 1;
        top: 20px;
    }

    #menu {
        opacity: 1;
        margin: -100px 0 0 -300px;
    }

    .info {
        width: 100%;
        left: 0;
        padding: 0 30px;
        margin-top: 60px;

        .left-column {
            margin-left: 5%;
        }

        .right-column {
            margin: auto;
            margin-left: 100px;

            h3 {
                line-height: 1.6;
            }

        }

        .anim-typewriter .line-1 {
            display: none;
        }

    }

    /* HOW IT WORKS */
    .section__about {
        text-align: center;

        .main__row {
            .right {
                margin: 0;
                width: 100%;
                padding: 0 50px;
            }

            h1 {
                margin-bottom: 150px;
                font-size: 400%;
            }

            h3 {
                font-size: 250%;
            }
        }
    }

    /* SECTION WITH SCREENSHOTS */
    .section__markdown {
        margin-left: 0;

        .main__row {

            .for_mobile {
                display: inline-block;
            }

            .not_for_mobile {
                display: none;
            }

            img {
                margin-top: 60px;

            }

            h1 {
                margin: 0 0 20px 0;;
                font-size: 250%;
            }
        }
    }

    /* FOOTER */
    footer {
        padding-top: 30px;

        .outer_menu {
            display: none;

            .menu {
                display: none;
            }
        }


        .join_us {
            width: auto;
            margin: 0;
            padding: 0 10px;

            img {
                width: 20%;
                margin-top: 80px;
            }

            h1 {
                font-size: 250%;
            }
        }
    }

    /* ----- ABOUT PAGE ----- */

    .full_info {
        width: 80%;
        margin-left: 10%;

        .full_info-text {

            h1 {
               font-size: 200%;
            }
            h2 {
                font-size: 140%;
            }
            h3 {
                font-size: 120%;
            }
            p {
                font-size: 140%;
            }
        }
    }
}

/* Phones */
@media only screen and (max-width: 768px) {
    .logo-title {
        float: right;
    }

    .menu {
        display: none;
    }

    /* HAMBURGER MENU */
    #menuToggle {
        display: inline-block;
        opacity: 1;
    }

    #menu {
        opacity: 1;
        margin: -100px 0 0 -250px;
    }

    header {
        .header-icons {
            display: none;
        }

        @media screen and (min-height: 732px) and (min-width: 375px) {
            .header-icons {
                display: block;
                margin-bottom: 0px;
            }
        }
    }

    /* HEADER INFOS */
    .info {
        display: block;
        margin-top: 50px;

        .left-column {
            margin: auto;
            width: auto;

            h1 {
                font-size: 200%;
            }
        }

        .right-column {
            margin: auto;
            margin-top: 50px;

            h3 {
               font-size: 100%;
            }
        }

        .anim-typewriter .line-1 {
            display: none;
        }
    }

    /* HOW IT WORKS */
    .section__about {

        .main__row {
            position: relative;
            height: auto;
            width: auto;
            left: 0;
            padding: 30px 0;

            .span-1-of-2 {
                display: none;
            }

            .right {
                margin-left: 0;
                padding: 0 20px;
                margin-bottom: 30px;
            }

            h1 {
                text-align: center;
                margin: 50px 0;
                font-size: 300%;
            }

            h3 {
                font-size: 150%;
            }
        }
    }

    /* SECTION WITH SCREENSHOTS */
    .section__markdown {
        margin-left: 0;

        .main__row {

            .for_mobile {
                display: inline-block;
            }

            .not_for_mobile {
                display: none;
            }

            img {
                margin-top: 10px;

            }

            h1 {
                margin-top: 10px;
            }
        }
    }

    /* CONTACT US */
    .section__contact-us {
        padding: 0 10px;
    }

    /* FOOTER */
    footer {
        padding-top: 30px;

        .outer_menu {
            display: none;

            .menu {
                display: none;
            }
        }


        .join_us {
            width: auto;
            margin: 0;
            padding: 0 10px;

            img {
                width: 20%;
                margin-top: 10px;
            }

            h1 {
                font-size: 150%;
            }
        }

        .thank_you--section {
           font-size: 90%;
           text-align: center;
        }
    }

    /* ----- ABOUT PAGE ----- */

    .full_info {
        .big_title {
            font-size: 150%;
        }
    }
}