/* Large screens */
@media only screen and (min-width: 1600px) {
    /* ----- Header ----- */
    .main-nav {
        .menu {
            ul {
                li {
                    font-size: 140%;
                }
            }
            
        }
    }
    
    .info {
        position: relative;
        display: inline-block;
        height: 300px;
        width: 80%;
        left: 10%;
        margin-top: 300px;
    
        .left-column {
            margin-right: 200px;
            h1 {
                font-size: 270%;
                line-height: 1.5;
            }
        }
        .right-column {
            h3 {
                font-size: 150%;
                line-height: 1.8;
            }
            
    
        }
        .header-icons {
            font-size: 300%;
            margin-top: 200px;
        }
    }
    
    .section__about {
    
        .main__row {

    
            .right {

            }
            

            h1 {
                margin-top: 150px;
                font-size: 300%;
            }
        
            h3 {
                font-size: 200%;
            }
        }
    }

    .section__markdown {

        .main__row {

            .col__left {
                padding: 100px 100px 0 100px;
            }
            
            img {

            }
            h1 {

            }
        
            h3 {
                font-size: 200%;
            }
    
        }
    }
}


@media only screen and (min-width: 1350px) {
        
}

/* Small tablets to big tablets */
@media only screen and (max-width: 1023px) {
    .logo-title {
        float: right;
        margin-top: 30px;
    }
    .menu {
        display: none;
    }

    /* HAMBURGER MENU */
    #menuToggle {
        display: inline-block;
        opacity: 1;
    }
    #menu {
        opacity: 1;
        margin: -100px 0 0 -300px;
    }
    /* ------------------ */

    /* HEADER INFOS */
    header {
        min-height: auto;
        width: auto;
    }
    .info {
        height: auto;
        width: 100%;
        left: 0;
        padding: 0 30px;
    
        .left-column {
            margin-right: 170px;
            h1 {
                font-size: 250%;
            }
        }
        .right-column {
            
            h3 {
                line-height: 1.6;
                font-size: 140%;
            }
    
        }
        .anim-typewriter .line-1 {
            display: none;
        }

        .header-icons {
            width: 100%;
            text-align: center;
            left: 0;
        }
    }

    /* HOW IT WORKS */
    .section__about {

        .main__row {
            position: relative;
            height: auto;
            width: auto;
            left: 0;
            padding: 30px 0;

            .span-1-of-2 {
                display: none;
            }
    
            .right {
                width: 100%;
                text-align: center;
                margin-left: 0;
                padding: 0 50px;
                margin-bottom: 30px;
            }
            
            img {

            }
            h1 {
                margin: 150px 0;
                text-align: center;
                font-size: 400%;
            }
        
            h3 {
                font-size: 250%;
            }
        }
    }

    /* SECTION WITH SCREENSHOTS */
    .section__markdown {
        margin-left: 0;
    
        .main__row {

    
            .for_mobile {
                display: inline-block;
            }

            .not_for_mobile {
                display: none;
            }
    
            .col__left {

            }
            
            img {
                margin-top: 60px;
    
            }
            h1 {
                margin: 0 0 20px 0;;
                font-size: 250%;
            }
        
            h3 {

                .italic {

                }
    
                span {

                }
            }
    
        }
    
        .second-row {

    
            .col__right {

            }
        }
    }

    /* FOOTER */
    footer {
        padding-top: 30px;
    
        .outer_menu {
            display: none;
            .menu {
                display: none;
            }
        }
        
    
        .join_us {
            width: auto;
            margin: 0;
            padding: 0 10px;
            
    
            img {
                width: 20%;
                margin-top: 80px;
            }
    
            h1 {
                font-size: 250%;
            }
        }
    
        .thank_you--section {
           
        }
    }

    /* ----- ABOUT PAGE ----- */

    .full_info {
        width: 80%;
        margin-left: 10%;

        .big_title {

        }

        .full_info-text {

            h1 {
               font-size: 200%; 
            }
            h2 {
                font-size: 140%;
            }
            h3 {
                font-size: 120%;
            }
            p {
                font-size: 140%;
            }
        }
    }
 

}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {



}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    .logo-title {
        float: right;
        margin-top: 30px;
    }
    .menu {
        display: none;
    }

    /* HAMBURGER MENU */
    #menuToggle {
        display: inline-block;
        opacity: 1;
    }
    #menu {
        opacity: 1;
        margin: -100px 0 0 -250px;
    }
    /* ------------------ */

    /* HEADER INFOS */
    .info {
        height: auto;
    
        .left-column {
            margin: 0px 0px 50px 0px;
            h1 {
                font-size: 200%;
            }
        }
        .right-column {
            position: relative;
            padding: 0;
            h3 {
               font-size: 100%;
            }
    
        }
        .anim-typewriter .line-1 {
            display: none;
        }

        .header-icons {
            display: none;
        }
    }

    /* HOW IT WORKS */
    .section__about {

        .main__row {
            position: relative;
            height: auto;
            width: auto;
            left: 0;
            padding: 30px 0;

            .span-1-of-2 {
                display: none;
            }
    
            .right {
                margin-left: 0;
                padding: 0 20px;
                margin-bottom: 30px;
            }
            
            img {

            }
            h1 {
                text-align: center;
                margin: 50px 0;
                font-size: 300%;
            }
        
            h3 {
                font-size: 150%;
            }
        }
    }

    /* SECTION WITH SCREENSHOTS */
    .section__markdown {
        margin-left: 0;
    
        .main__row {

    
            .for_mobile {
                display: inline-block;
            }

            .not_for_mobile {
                display: none;
            }
    
            .col__left {

            }
            
            img {
                margin-top: 10px;
    
            }
            h1 {
                margin-top: 10px;
            }
        
            h3 {

                .italic {

                }
    
                span {

                }
            }
    
        }
    
        .second-row {

    
            .col__right {

            }
        }
    }

    /* CONTACT US */
    .section__contact-us {
        padding: 0 10px;
    }



    /* FOOTER */
    footer {
        padding-top: 30px;
    
        .outer_menu {
            display: none;
            .menu {
                display: none;
            }
        }
        
    
        .join_us {
            width: auto;
            margin: 0;
            padding: 0 10px;
            
    
            img {
                width: 20%;
                margin-top: 10px;
            }
    
            h1 {
                font-size: 150%;
            }
        }
    
        .thank_you--section {
           font-size: 90%;
           text-align: center;
        }
    }

    /* ----- ABOUT PAGE ----- */

    .full_info {

        .big_title {
            font-size: 150%;
        }
    }
}