/* Large screens */
@media only screen and (min-width: 1600px) {
  /* ----- Header ----- */
  .main-nav .menu ul li {
    font-size: 140%;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 450px) {
  .info {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 1600px) {
  .info .left-column h1 {
    font-size: 270%;
  }
}
@media only screen and (min-width: 1600px) {
  .info .right-column h3 {
    font-size: 150%;
    line-height: 1.8;
  }
}
@media only screen and (min-width: 1600px) {
  .header-icons .icon {
    font-size: 150%;
  }
}
@media only screen and (min-width: 1600px) {
  .section__about .main__row h1 {
    font-size: 300%;
  }
  .section__about .main__row h3 {
    font-size: 200%;
  }
}
@media only screen and (min-width: 1600px) {
  .section__markdown .main__row .col__left {
    padding: 100px 100px 0 100px;
  }
  .section__markdown .main__row h3 {
    font-size: 200%;
  }
}
/* Small tablets to big tablets */
@media only screen and (max-width: 1023px) {
  .menu {
    display: none;
  }

  /* HAMBURGER MENU */
  #menuToggle {
    display: inline-block;
    opacity: 1;
    top: 20px;
  }

  #menu {
    opacity: 1;
    margin: -100px 0 0 -300px;
  }

  .info {
    width: 100%;
    left: 0;
    padding: 0 30px;
    margin-top: 60px;
  }
  .info .left-column {
    margin-left: 5%;
  }
  .info .right-column {
    margin: auto;
    margin-left: 100px;
  }
  .info .right-column h3 {
    line-height: 1.6;
  }
  .info .anim-typewriter .line-1 {
    display: none;
  }

  /* HOW IT WORKS */
  .section__about {
    text-align: center;
  }
  .section__about .main__row .right {
    margin: 0;
    width: 100%;
    padding: 0 50px;
  }
  .section__about .main__row h1 {
    margin-bottom: 150px;
    font-size: 400%;
  }
  .section__about .main__row h3 {
    font-size: 250%;
  }

  /* SECTION WITH SCREENSHOTS */
  .section__markdown {
    margin-left: 0;
  }
  .section__markdown .main__row .for_mobile {
    display: inline-block;
  }
  .section__markdown .main__row .not_for_mobile {
    display: none;
  }
  .section__markdown .main__row img {
    margin-top: 60px;
  }
  .section__markdown .main__row h1 {
    margin: 0 0 20px 0;
    font-size: 250%;
  }

  /* FOOTER */
  footer {
    padding-top: 30px;
  }
  footer .outer_menu {
    display: none;
  }
  footer .outer_menu .menu {
    display: none;
  }
  footer .join_us {
    width: auto;
    margin: 0;
    padding: 0 10px;
  }
  footer .join_us img {
    width: 20%;
    margin-top: 80px;
  }
  footer .join_us h1 {
    font-size: 250%;
  }

  /* ----- ABOUT PAGE ----- */
  .full_info {
    width: 80%;
    margin-left: 10%;
  }
  .full_info .full_info-text h1 {
    font-size: 200%;
  }
  .full_info .full_info-text h2 {
    font-size: 140%;
  }
  .full_info .full_info-text h3 {
    font-size: 120%;
  }
  .full_info .full_info-text p {
    font-size: 140%;
  }
}
/* Phones */
@media only screen and (max-width: 768px) {
  .logo-title {
    float: right;
  }

  .menu {
    display: none;
  }

  /* HAMBURGER MENU */
  #menuToggle {
    display: inline-block;
    opacity: 1;
  }

  #menu {
    opacity: 1;
    margin: -100px 0 0 -250px;
  }

  header .header-icons {
    display: none;
  }

  /* HEADER INFOS */

  /* HOW IT WORKS */

  /* SECTION WITH SCREENSHOTS */

  /* CONTACT US */

  /* FOOTER */

  /* ----- ABOUT PAGE ----- */
}
@media only screen and (max-width: 768px) and (min-height: 732px) and (min-width: 375px) {
  header .header-icons {
    display: block;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .info {
    display: block;
    margin-top: 50px;
  }
  .info .left-column {
    margin: auto;
    width: auto;
  }
  .info .left-column h1 {
    font-size: 200%;
  }
  .info .right-column {
    margin: auto;
    margin-top: 50px;
  }
  .info .right-column h3 {
    font-size: 100%;
  }
  .info .anim-typewriter .line-1 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .section__about .main__row {
    position: relative;
    height: auto;
    width: auto;
    left: 0;
    padding: 30px 0;
  }
  .section__about .main__row .span-1-of-2 {
    display: none;
  }
  .section__about .main__row .right {
    margin-left: 0;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .section__about .main__row h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 300%;
  }
  .section__about .main__row h3 {
    font-size: 150%;
  }
}
@media only screen and (max-width: 768px) {
  .section__markdown {
    margin-left: 0;
  }
  .section__markdown .main__row .for_mobile {
    display: inline-block;
  }
  .section__markdown .main__row .not_for_mobile {
    display: none;
  }
  .section__markdown .main__row img {
    margin-top: 10px;
  }
  .section__markdown .main__row h1 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .section__contact-us {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    padding-top: 30px;
  }
  footer .outer_menu {
    display: none;
  }
  footer .outer_menu .menu {
    display: none;
  }
  footer .join_us {
    width: auto;
    margin: 0;
    padding: 0 10px;
  }
  footer .join_us img {
    width: 20%;
    margin-top: 10px;
  }
  footer .join_us h1 {
    font-size: 150%;
  }
  footer .thank_you--section {
    font-size: 90%;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .full_info .big_title {
    font-size: 150%;
  }
}

/*# sourceMappingURL=queries.css.map */
