
/* ----- Header ----- */
header {
    height: 600px;
    width: auto;
}

.main-nav {
    .logo-title {
        float: left;

        img {
            width: 50px;
            height: auto;
            float: left;
        }
        p {
            float: left;
        }
    }
    .menu {
        float: right;
    }
}



















