/* ----- Reusable items ----*/
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #DDD;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, #6965D8, #3531D8 40%);
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header {
  height: 200px;
  width: auto;
}

/* ---- Top Menu ---- */
.main-nav {
  position: absolute;
  width: 90%;
  left: 8%;
  top: 3%;
}
.main-nav a {
  text-decoration: none;
  color: #DDD;
}
.main-nav .logo-title {
  float: left;
}
.main-nav .logo-title img {
  width: 50px;
  height: auto;
  float: left;
}
.main-nav .logo-title p {
  float: left;
  font-family: "Major Mono Display", monospace;
  line-height: 4;
}
.main-nav .menu {
  float: right;
}
.main-nav .menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.main-nav .menu ul {
  width: 100%;
  list-style-type: none;
}
.main-nav .menu ul a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #DDD;
  position: relative;
  text-decoration: none;
}
.main-nav .menu ul li {
  float: left;
  font-family: "Abel", sans-serif;
  font-size: 120%;
  overflow: hidden;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.main-nav .menu ul a:before,
.main-nav .menu ul a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.main-nav .menu ul a:before {
  left: 0;
  top: 0;
  border-left: 2px solid #DDD;
  border-top: 2px solid #DDD;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.main-nav .menu ul a:after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.main-nav .menu ul a:hover,
.main-nav .menu ul .current a {
  color: white;
}
.main-nav .menu ul a:hover:before,
.main-nav .menu ul .current a:before,
.main-nav .menu ul a:hover:after,
.main-nav .menu ul .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

/* ----------------------------------------------- */
/* INFO */
/* ----------------------------------------------- */
.full_info {
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 100px;
  overflow: hidden;
}
.full_info .big_title {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 200%;
  margin-bottom: 100px;
}
.full_info .full_info-text {
  font-family: "Abel", sans-serif;
}
.full_info .full_info-text h1 {
  font-family: "Source Code Pro", monospace;
  margin-bottom: 30px;
  font-size: 180%;
}
.full_info .full_info-text h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 120%;
  margin-bottom: 20px;
}
.full_info .full_info-text h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 100%;
  margin-bottom: 10px;
}
.full_info .full_info-text p {
  font-size: 120%;
  margin-bottom: 30px;
}

/*--------------------------------------------------------*/
/*----------- HAMBURGER MENU STYLING-----------*/
/*--------------------------------------------------------*/
#menuToggle {
  opacity: 0;
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  opacity: 0;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -250px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu a {
  text-decoration: none;
  color: black;
  font-family: "Major Mono Display", monospace;
}

#menu li {
  padding: 15px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/*# sourceMappingURL=style.css.map */
