/* ----- Reusable items ----*/

$cryptic-font: 'Major Mono Display', monospace;
$normal-font: 'Abel', sans-serif;
$title-font: 'Source Code Pro', monospace;


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #000;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header {
    height: 200px;
    width: auto;
}


/* ---- Top Menu ---- */
.main-nav {
    position: absolute;
    width: 90%;
    left: 8%;
    top: 3%;

    a {
        text-decoration: none;
        color: black;
    }
    
    .logo-title {
        float: left;

        img {
            width: 50px;
            height: auto;
            float: left;
        }
        p {
            float: left;
            font-family: $cryptic-font;
            line-height: 4;
        }
    }
    .menu {
        float: right;
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
        ul {
            width: 100%;
            list-style-type: none;
            a {
                padding: 0.5em 0.8em;
                margin: 0.2em 0;
                display: block;
                color: black;
                position: relative;
                text-decoration: none;
            }
            li {
                float: left;
                font-family: $normal-font;
                font-size: 120%;
                overflow: hidden;
                list-style: outside none none;
                margin: 0 1em;
                padding: 0;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
            }

            a:before,
            a:after {
                height: 14px;
                width: 14px;
                position: absolute;
                content: '';
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
                opacity: 0;
            }

            a:before {
                left: 0;
                top: 0;
                border-left: 2px solid black;
                border-top: 2px solid black;
                -webkit-transform: translate(100%, 50%);
                transform: translate(100%, 50%);
            }

            a:after {
                right: 0;
                bottom: 0;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
            }

            a:hover,
            .current a {
                color: black;
            }

            a:hover:before,
            .current a:before,
            a:hover:after,
            .current a:after {
                -webkit-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
                opacity: 1;
            }
        }
    }
}

/* ----------------------------------------------- */
/* INFO */
/* ----------------------------------------------- */

.full_info {
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 100px;

    .big_title {
        text-align: center;
        font-family: $cryptic-font;
        font-size: 200%;
        margin-bottom: 100px;
    }
    .full_info-text {
        font-family: $normal-font;

        h1 {
            font-family: $title-font;
            margin-bottom: 30px;
            font-size: 180%;
        }

        h2 {
            font-family: $title-font;
            font-size: 120%;
            margin-bottom: 20px;
        }

        h3 {
            font-family: $title-font;
            font-size: 100%;
            margin-bottom: 10px;
        }

        p {
            font-size: 120%;
            margin-bottom: 30px;
        }
    }
}