
/* ----- Reusable items ----*/

$cryptic-font: 'Major Mono Display', monospace;
$normal-font: 'Abel', sans-serif;
$title-font: 'Source Code Pro', monospace;


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ----- Header ----- */
header {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #6965D8, #3531D8 40%);

    .header-icons {
        position: absolute;
        text-align: center;
        color: #DDD;
        width: 100%;
        font-size: 200%;
        bottom: 0;
        margin-bottom: 20px;
        -webkit-animation: bounce 2s infinite;
                animation: bounce 2s infinite;
    }

    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        40% {
            -webkit-transform: translateY(-30px);
                    transform: translateY(-30px);
        }
        60% {
            -webkit-transform: translateY(-15px);
                    transform: translateY(-15px);
        }
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        40% {
            -webkit-transform: translateY(-30px);
                    transform: translateY(-30px);
        }
        60% {
            -webkit-transform: translateY(-15px);
                    transform: translateY(-15px);
        }
    }
}


/* ---- Top Menu ---- */
.main-nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    color: #DDD;

    .logo-title {
        float: left;

        img {
            width: 50px;
            float: left;
        }

        p {
            float: left;
            font-family: $cryptic-font;
            line-height: 4;
        }
    }

    .menu {
        float: right;

        * {
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;

            -webkit-transition: all 0.35s ease;
                    transition: all 0.35s ease;
        }

        ul {
            width: 100%;
            list-style-type: none;

            a {
                padding: 0.5em 0.8em;
                margin: 0.2em 0;
                display: block;
                color: #DDD;
                position: relative;
                text-decoration: none;
            }

            li {
                float: left;
                font-family: $normal-font;
                font-size: 120%;
                overflow: hidden;
                list-style: outside none none;
                margin: 0 1em;
                padding: 0;
                -webkit-transition: all 0.35s ease;
                        transition: all 0.35s ease;
            }

            a:before,
            a:after {
                height: 14px;
                width: 14px;
                position: absolute;
                content: '';
                -webkit-transition: all 0.35s ease;
                        transition: all 0.35s ease;
                opacity: 0;
            }

            a:before {
                left: 0;
                top: 0;
                border-left: 2px solid #DDD;
                border-top: 2px solid #DDD;
                -webkit-transform: translate(100%, 50%);
                        transform: translate(100%, 50%);
            }

            a:after {
                right: 0;
                bottom: 0;
                border-right: 2px solid #DDD;
                border-bottom: 2px solid #DDD;
                -webkit-transform: translate(-100%, -50%);
                        transform: translate(-100%, -50%);
            }

            a:hover,
            .current a {
                color: white;
            }

            a:hover:before,
            .current a:before,
            a:hover:after,
            .current a:after {
                -webkit-transform: translate(0%, 0%);
                        transform: translate(0%, 0%);
                opacity: 1;
            }
        }
    }
}

/* ---- Text in the header ---- */
.info {
    display: flex;
    color: #DDD;
    margin-top: 100px;
    font-family: $cryptic-font;
    line-height: 1.3;

    .left-column {
        width: 23%;
        margin-left: 100px;
        padding-bottom: 10px;
    }

    .right-column {
        display: block;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
    }
}

/* Typewriter effect */
.anim-typewriter {
    .line-1 {
        overflow: hidden;
        border-right: 2px solid;
        -webkit-animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 700ms steps(44) infinite normal;

                animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 700ms steps(44) infinite normal;
    }

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
@-webkit-keyframes typewriter {
    from{width: 0;}
    to{width: 100%;}
}
@keyframes typewriter {
    from{width: 0;}
    to{width: 100%;}
}
@-webkit-keyframes blinkTextCursor {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}
@keyframes blinkTextCursor {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}


/* ---- SECOND SECTION ---- */

.section__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(img/background3.jpg) no-repeat center center;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    .main__row {
        .right {
            float: right;
            margin-right: 10%;
        }

        h1 {
            font-family: $title-font;
            margin-bottom: 50px;
            font-size: 300%;
            color: white;
        }

        h3 {
            font-family: $normal-font;
            font-size: 150%;
            color: white;
            line-height: 1.7;
        }
    }
}


/* ---- THIRD SECTION ---- */

.section__markdown {
    display: inline-block;
    padding: 0px 20px;
    align-content: center;
    color: black;

    .main__row {
        display: inline-block;
        padding-top: 50px;
        margin-top: 10px;
        text-align: center;


        .col__left {
            padding: 40px 10px;
        }

        img {
            width: 90%;
            margin-top: 30px;
            box-shadow: 10px 10px 10px rgb(100, 100, 100);

        }
        h1 {
            font-family: $title-font;
            font-size: 300%;
            margin: 30px 0;
        }

        h3 {
            font-family: $normal-font;
            font-size: 150%;
            line-height: 1.5;

            .italic {
                font-style: italic;
            }
        }
    }

    .second-row {
        margin-bottom: 50px;

        .col__right {
            padding: 50px 20px 0 20px;
        }
    }
}


/* ---- FOURTH SECTION ---- */

.section__contact-us {
    min-height: 50vh;
    margin: 0;
    background-color: #1A1A1A;
    align-content: center;
    padding-bottom: 50px;
    color: white;

    .main__row {
        position: relative;
        align-content: center;
        text-align: center;
        padding-top: 50px;

        h1 {
            font-family: $cryptic-font;
            font-size: 300%;
            margin-bottom: 70px;
            text-align: center;
        }

        h3 {
            font-family: $normal-font;
            font-size: 150%;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        .contact-icons {
            font-size: 500%;
            margin-top: 70px;

            a,
            a:visited {
                color: white;
                text-decoration: none;
            }

            .left-icon { margin-left: 70px; }

            .right-icon,
            .left-icon {
                -webkit-transition: all .6s ease-in-out;
                        transition: all .6s ease-in-out;
            }

            .left-icon:hover,
            .right-icon:hover {
                color: #4b49c1;
                -webkit-transform: scale(1.2);
                        transform: scale(1.2);
            }
        }
    }
}


/* ---- FOOTER---- */

footer {
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 50vh;

    .outer_menu {
        width: 100%;
        text-align: center;
        padding-top: 30px;

        .menu {
            display: inline-block;

            * {
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                -webkit-transition: all 0.35s ease;
                        transition: all 0.35s ease;
            }
            ul {
                width: 100%;
                list-style-type: none;
                a {
                    padding: 0.5em 0.8em;
                    margin: 0.2em 0;
                    display: block;
                    color: black;
                    position: relative;
                    text-decoration: none;
                }
                li {
                    float: left;
                    font-family: $normal-font;
                    font-size: 120%;
                    overflow: hidden;
                    list-style: outside none none;
                    margin: 0 1em;
                    padding: 0;
                    -webkit-transition: all 0.35s ease;
                            transition: all 0.35s ease;
                }

                a:before,
                a:after {
                    height: 14px;
                    width: 14px;
                    position: absolute;
                    content: '';
                    -webkit-transition: all 0.35s ease;
                            transition: all 0.35s ease;
                    opacity: 0;
                }

                a:before {
                    left: 0;
                    top: 0;
                    border-left: 2px solid black;
                    border-top: 2px solid black;
                    -webkit-transform: translate(100%, 50%);
                            transform: translate(100%, 50%);
                }

                a:after {
                    right: 0;
                    bottom: 0;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    -webkit-transform: translate(-100%, -50%);
                            transform: translate(-100%, -50%);
                }

                a:hover,
                .current a {
                    color: black;
                }

                a:hover:before,
                .current a:before,
                a:hover:after,
                .current a:after {
                    -webkit-transform: translate(0%, 0%);
                            transform: translate(0%, 0%);
                    opacity: 1;
                }
            }
        }
    }

    .join_us {
        display: inline-block;
        text-align: center;
        margin: auto;
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
        line-height: 1.4;

        img {
            width: 10%;
        }

        h1 {
            font-family: $cryptic-font;
            font-size: 150%;
        }
    }

    .thank_you--section {
        margin: 50px 10px 10px 0;
        font-family: $normal-font;

        .photo__thank {
            float: right;
        }
    }
}
