/* ----- Reusable items ----*/
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----- Header ----- */
header {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #6965D8, #3531D8 40%);
}

/* ---- Top Menu ---- */
.main-nav {
  position: absolute;
  width: 90%;
  left: 8%;
  top: 3%;
  color: #DDD;
}
.main-nav .logo-title {
  float: left;
}
.main-nav .logo-title img {
  width: 50px;
  float: left;
}
.main-nav .logo-title p {
  float: left;
  font-family: "Major Mono Display", monospace;
  line-height: 4;
}
.main-nav .menu {
  float: right;
}
.main-nav .menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.main-nav .menu ul {
  width: 100%;
  list-style-type: none;
}
.main-nav .menu ul a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #DDD;
  position: relative;
  text-decoration: none;
}
.main-nav .menu ul li {
  float: left;
  font-family: "Abel", sans-serif;
  font-size: 120%;
  overflow: hidden;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.main-nav .menu ul a:before,
.main-nav .menu ul a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.main-nav .menu ul a:before {
  left: 0;
  top: 0;
  border-left: 2px solid #DDD;
  border-top: 2px solid #DDD;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.main-nav .menu ul a:after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.main-nav .menu ul a:hover,
.main-nav .menu ul .current a {
  color: white;
}
.main-nav .menu ul a:hover:before,
.main-nav .menu ul .current a:before,
.main-nav .menu ul a:hover:after,
.main-nav .menu ul .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

/* ---- Text in the header ---- */
.info {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 80%;
  left: 10%;
  margin-top: 200px;
  color: #DDD;
}
.info .left-column {
  margin-right: 200px;
}
.info .left-column h1 {
  font-family: "Major Mono Display", monospace;
  line-height: 1.3;
}
.info .right-column {
  position: relative;
  padding: 50px 0 0 50px;
}
.info .right-column h3 {
  font-family: "Major Mono Display", monospace;
  line-height: 1.3;
}
.info .header-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 200%;
  margin-top: 50px;
  color: #DDD;
}
.info .bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Typewriter effect */
.anim-typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.anim-typewriter .line-1 {
  overflow: hidden;
  border-right: 2px solid;
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}
/* ---- SECOND SECTION ---- */
.section__about {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/background3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
  overflow: hidden;
}
.section__about .main__row {
  position: relative;
  width: 90%;
  left: 10%;
  padding-top: 50px;
}
.section__about .main__row .right {
  margin-left: 50px;
}
.section__about .main__row img {
  width: 60%;
  margin-top: 90px;
}
.section__about .main__row h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 300%;
  color: white;
  margin: 50px 0 80px 0;
}
.section__about .main__row h3 {
  font-family: "Abel", sans-serif;
  font-size: 150%;
  color: white;
  line-height: 1.7;
}

/* ---- THIRD SECTION ---- */
.section__markdown {
  background-image: linear-gradient(to bottom right, #3531D8 30%, #6965D8 90%);
  display: inline-block;
  padding: 0px 20px;
  align-content: center;
  color: #DDD;
}
.section__markdown .main__row {
  display: inline-block;
  padding-top: 50px;
  margin-top: 10px;
  text-align: center;
}
.section__markdown .main__row .col__left {
  padding: 40px 10px;
}
.section__markdown .main__row img {
  width: 90%;
  margin-top: 30px;
  box-shadow: 10px 10px 10px #646464;
}
.section__markdown .main__row h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 300%;
  margin: 30px 0;
}
.section__markdown .main__row h3 {
  font-family: "Abel", sans-serif;
  font-size: 150%;
  line-height: 1.5;
}
.section__markdown .main__row h3 .italic {
  font-style: italic;
}
.section__markdown .second-row {
  margin-bottom: 50px;
}
.section__markdown .second-row .col__right {
  padding: 50px 20px 0 20px;
}

/* ---- FOURTH SECTION ---- */
.section__contact-us {
  min-height: 50vh;
  margin: 0;
  background-color: #1A1A1A;
  align-content: center;
  padding-bottom: 50px;
  color: white;
}
.section__contact-us .main__row {
  position: relative;
  align-content: center;
  text-align: center;
  padding-top: 50px;
}
.section__contact-us .main__row h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 300%;
  margin-bottom: 70px;
  text-align: center;
}
.section__contact-us .main__row h3 {
  font-family: "Abel", sans-serif;
  font-size: 150%;
  line-height: 1.5;
  margin-bottom: 10px;
}
.section__contact-us .main__row .contact-icons {
  font-size: 500%;
  margin-top: 70px;
}
.section__contact-us .main__row .contact-icons a,
.section__contact-us .main__row .contact-icons a:visited {
  color: white;
  text-decoration: none;
}
.section__contact-us .main__row .contact-icons .left-icon {
  margin-left: 70px;
}
.section__contact-us .main__row .contact-icons .right-icon,
.section__contact-us .main__row .contact-icons .left-icon {
  transition: all 0.6s ease-in-out;
}
.section__contact-us .main__row .contact-icons .left-icon:hover,
.section__contact-us .main__row .contact-icons .right-icon:hover {
  color: #4b49c1;
  transform: scale(1.2);
}

/* ---- FOOTER---- */
footer {
  position: relative;
  color: #DDD;
  background: linear-gradient(#3531D8 25%, #1d1b7c);
  min-height: 50vh;
}
footer .outer_menu {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
footer .outer_menu .menu {
  display: inline-block;
}
footer .outer_menu .menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
footer .outer_menu .menu ul {
  width: 100%;
  list-style-type: none;
}
footer .outer_menu .menu ul a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #DDD;
  position: relative;
  text-decoration: none;
}
footer .outer_menu .menu ul li {
  float: left;
  font-family: "Abel", sans-serif;
  font-size: 120%;
  overflow: hidden;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
footer .outer_menu .menu ul a:before,
footer .outer_menu .menu ul a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
footer .outer_menu .menu ul a:before {
  left: 0;
  top: 0;
  border-left: 2px solid #DDD;
  border-top: 2px solid #DDD;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
footer .outer_menu .menu ul a:after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
footer .outer_menu .menu ul a:hover,
footer .outer_menu .menu ul .current a {
  color: white;
}
footer .outer_menu .menu ul a:hover:before,
footer .outer_menu .menu ul .current a:before,
footer .outer_menu .menu ul a:hover:after,
footer .outer_menu .menu ul .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
footer .join_us {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  line-height: 1.4;
}
footer .join_us img {
  width: 10%;
}
footer .join_us h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 150%;
}
footer .thank_you--section {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 10px 0;
  font-family: "Abel", sans-serif;
}

/*# sourceMappingURL=style.css.map */
